h1 {
    color:#712177;
    text-align: center;
}

body {
    font-family: Verdana;
}

.dropdown{
    font-family: verdana;
}

.AreaData{
    align-items: center;
}


.centre{
    width: 400px;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;

}

.AreaData{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
